<div class="container mt-5 mb-5">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4>Formulário para cadastro de Clientes</h4>
            </div>
            <div class="card-body">
                <form #clienteForm="ngForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="id">ID</label>
                                <input type="id" class="form-control" id="id" placeholder="#" [ngModel]="cliente.id"
                                    name="id" disabled="true">
                            </div>
                            <div class="col-md-6">
                                <label for="dataCadastro">Data de cadatro:</label>
                                <input type="date" class="form-control" id="dataCadastro" placeholder="Seu nome"
                                    [ngModel]="cliente.dataCadastro" name="dataCadastro" disabled="true">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="nome">Nome:</label>
                                <input type="text" class="form-control" id="nome" [(ngModel)]="cliente.nome" name="nome"
                                    placeholder="Seu nome">
                            </div>
                            <div class="col-md-6">
                                <label for="cpf">CPF:</label>
                                <input type="text" class="form-control" id="nome" [(ngModel)]="cliente.cpf" name="cpf"
                                    placeholder="CPF">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Salvar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>